deploy/n8n-workflow.json
{
  "name": "RankEngine Contactformulier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rankengine-contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "rankengine-contact"
    },
    {
      "parameters": {
        "fromEmail": "thomas@rankengine.nl",
        "toEmail": "thomas@rankengine.nl",
        "subject": "=Nieuw contactverzoek van {{ $json.body.naam || $json.naam }}",
        "emailFormat": "html",
        "message": "=<h2>Nieuw bericht via rankengine.nl</h2>\n<table style='border-collapse:collapse;width:100%'>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Naam</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.naam || $json.naam }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Bedrijf</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.bedrijf || $json.bedrijf || '-' }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>E-mail</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.email || $json.email }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Telefoon</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.telefoon || $json.telefoon || '-' }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Dienst</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.dienst || $json.dienst || '-' }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Budget</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.budget || $json.budget || '-' }}</td></tr>\n  <tr><td style='padding:8px;border:1px solid #ddd;font-weight:bold'>Bericht</td><td style='padding:8px;border:1px solid #ddd'>{{ $json.body.bericht || $json.bericht }}</td></tr>\n</table>",
        "options": {}
      },
      "id": "send-email",
      "name": "Stuur e-mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Stuur e-mail", "type": "main", "index": 0 }]]
    },
    "Stuur e-mail": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
